:root {
  // color
  --col-green: #7ed957;
  --col-white: white;
  // font size
  --f-small: 1rem; // 16px
  --f-small-b: 1.563rem; //25px

  --f-normal: 2.5rem; // 40px
  --f-big: 3.125rem; //50px
}
